{% extends "base.html" %} {% load cms_tags menu_tags %} {% block title %}
{%page_attribute "page_title" %} {% endblock title %} {% block content %}

<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Jornalismo de Dados</a>
  <button
    class="btn btn-link btn-sm order-1 order-lg-0"
    id="sidebarToggle"
    href="#"
  >
    <i class="fas fa-bars"></i>
  </button>
  <!-- Navbar Search-->
  <form
    class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"
  ></form>
  <!-- Navbar-->
  <ul class="navbar-nav ml-auto ml-md-0">
    <li class="nav-item">
      <a class="nav-link" href="/acervo">Acervo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ajuda">Ajuda</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/perguntas">Perguntas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/indice">Índice</a>
    </li>
    {% comment %}
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        id="userDropdown"
        href="#"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        ><i class="fas fa-user fa-fw"></i
      ></a>
      <div
        class="dropdown-menu dropdown-menu-right"
        aria-labelledby="userDropdown"
      >
        <a
          class="dropdown-item"
          href="http://www.filosofiacienciaarte.org"
          target="_blank"
          >Filosofia, Ciência e Arte</a
        >
      </div>
    </li>
    {% endcomment %}
  </ul>
</nav>
<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">{% show_menu 0 100 100 100 "menu.html" %}</div>
      </div>
    </nav>
  </div>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">{% placeholder "content" %}</div>
    </main>
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">
            Copyright &copy; Jornalismo de Dados 2020
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>

{% endblock content %}
